@model MessangingApp1.ViewModels.InviteListViewModel
@{ ViewBag.Title = "Index"; }


<h1>@ViewBag.msg</h1>
<table class="table">
    <tr>
        <td colspan="2">

            @using (Html.BeginForm("CreateUpdate", "InviteUser", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.instance.InviteUserName)
                    @Html.TextBoxFor(m => m.instance.InviteUserName, new { @class = "form-control", @placeholder = "Enter UserName" })
                    @Html.ValidationMessageFor(m => m.instance.InviteUserName, "", new { @class = "badge badge-danger" })
                </div>

                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-primary" value="Add User" />
                </div>}
        </td>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model.InviteUsers)
        {
            <tr>
                <td style="font-size:150%;">
                    @item.InviteUserName
                </td>
                <td class="text-center">
                    <a href="/InviteUser/Delete/@item.InviteId" onclick="return confirm('Are you sure?');" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
}
    }
</table>
@if (Model.InviteUsers.Count() != 0)
{
    @Html.ActionLink("Done", "Channel", "Home", null, new { @class = "btn btn-danger" })
}