@model MessangingApp1.ViewModels.SearchViewModel

@{ ViewBag.Title = "ViewPosts"; }



@using (Html.BeginForm("ViewPosts", "Post", FormMethod.Post, new { @id = "myForm", @class = "form-inline pt-3" }))
{
    @Html.AntiForgeryToken()

<div class="form-group" style="padding-top:20px;">
    @Html.LabelFor(m => m.SearchQuery, new { @class = "sr-only" })
    @Html.TextBoxFor(m => m.SearchQuery, "", new { @class = "form-control mb-2 mr-sm-2", @id = "myTextArea", @placeholder = "Search Posts...." })
    @Html.ValidationMessageFor(m => m.SearchQuery, "", new { @class = "badge badge-danger" })
    <input type="submit" class="btn btn-primary mb-2" value="Search....." />
    @Html.ActionLink("Create Posts", "Index", "Post", new { id = Session["channelid"] }, new { @class = "btn btn-danger" })
</div>
}

<Center><h2>ViewPosts</h2></Center>


@if (Model.posts.Count() != 0)
{
    <table class="table table-bordered">
        <tr style="font-size:150%;">
            <th>
                @Html.DisplayNameFor(model => model.posts.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.posts.First().Content)
            </th>
            <th>
                Post Created By
            </th>
            <th>
                @Html.DisplayNameFor(model => model.posts.First().CreatedAt)
            </th>
            <th>
                Post Message
            </th>
        </tr>

        @foreach (var item in Model.posts)
        {
            <tr>
                <td style="font-size:150%;color:red;">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td style="font-size:150%;color:blue;">
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td style="font-size:150%;color:green;">
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td style="font-size:150%;color:red;">
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.ActionLink("Post Message", "CreateMessage", new { id = item.PostId }, new { @class = "btn btn-success btn-block" })
                </td>
            </tr>
        }

    </table>}

else
{
    <center><h1>No Posts are there!!!</h1></center>
}


