@{
    ViewBag.Title = "Index";
}

<h1>Index</h1>

@*@model  MessangingApp1.ViewModels.TrendingListViewModel



    <h2>Index</h2>

    <table>
        @foreach (var item in Model.trendingChannels)
        {
            <tr>
                <td>
                    @item.Name
                </td>

                <td>
                    @item.Count
                </td>
            </tr>
        }
    </table>
    <table>
        @foreach (var item in Model.trendingRegions)
        {
            <tr>
                <td>
                    @item.Name
                </td>

                <td>
                    @item.Count
                </td>
            </tr>
        }
    </table>
    <table>
        @foreach (var item in Model.trendingUser)
        {
            <tr>
                <td>
                    @item.Name
                </td>

                <td>
                    @item.Count
                </td>
            </tr>
        }
    </table>

*@