@model MessangingApp1.ViewModels.TrendingListViewModel
@{
    ViewBag.Title = "Index";



}
<h1>Index</h1>
<Table>

    @if (@Model != null)
    {

        foreach (var i in Model.trendingRegions)
        {
            <tr>
                <td>
                    @i.Name
                </td>
                <td>
                    @i.Count
                </td>
            </tr>
         }
     }


</Table>
<Table>

    @if (@Model != null)
    {

        foreach (var i in Model.trendingUser)
        {
            <tr>
                <td>
                    @i.Name
                </td>
                <td>
                    @i.Count
                </td>
            </tr>
        }
    }
</Table>
<Table>

    @if (@Model != null)
    {

        foreach (var i in Model.trendingChannels)
        {
            <tr>
                <td>
                    @i.Name
                </td>
                <td>
                    @i.Count
                </td>
            </tr>
        }
    }


</Table>
<Table>

    @if (@Model != null)
    {

        foreach (var i in Model.trendingTags)
        {
            <tr>
                <td>
                    @i.Name
                </td>
                <td>
                    @i.Count
                </td>
            </tr>
        }
    }


</Table>

