@model MessangingApp1.ViewModels.TagListViewModel
@{
    ViewBag.Title = "Index";
}


<h1>@ViewBag.msg</h1>
<table class="table table-striped table-bordered table-hover" style="max-width: 500px;">
    <tr>
        <td colspan="3">

            @using (Html.BeginForm("CreateUpdate", "Tag", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.EditableItem.TagName)
                    @Html.TextBoxFor(m => m.EditableItem.TagName, new { @class = "form-control", @placeholder = "Enter tag" })
                    @* @Html.ValidationMessageFor(m => m.Description, "", new { @class = "badge badge-danger" })*@
                </div>

                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-primary" value="Add" />
                </div>
            }
        </td>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model.TagItems)
        {
            <tr>
                <td>
                    <a href="/Tag/Edit/@item.TagId">
                        @item.TagName
                    </a>
                </td>
                <td class="text-center">
                    <a href="/Tag/Delete/@item.TagId" onclick="return confirm('Are you sure?');" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    }
</table>
<button>@Html.ActionLink("Next", "Index", "InviteUser", null, null)</button>